#wall .tag-1 {
    display: none;
  };

#tag-2 {
    display: none;
};

#tag-3 .slickwicked {
    display: none;
  }

div class="parent">
  <div id="tag-4"></div>

<div class="parent">
      <div id="tag-5" class="slick"></div>

 <div class="parent">
      <div></div>
      <div>
        <div id="tag-6"></div>

<div class="parent">
        <div>
          <div id="tag-7" class="slick"></div>